pywin32>=306
pillow>=10.0.0
numpy>=1.24.0
ultralytics>=8.0.0
keyboard>=0.13.5
mouse>=0.7.1
pyautogui>=0.9.53
paddlepaddle>=2.5.0
paddleocr>=2.6.1
transformers>=4.30.0
torch>=2.0.0
huggingface-hub>=0.20.3
opencv-python>=4.8.0
pynput>=1.7.6
tqdm>=4.66.0
colorama>=0.4.6 